<div>id: {{unicorn.id}}</div>
<div>name: {{unicorn.name | magicalName}}</div>
<div>birthyear: {{unicorn.birthyear}}</div>
<div>weight: {{unicorn.weight}}</div>
<div><img [src]="unicorn.photo"/></div>
<div>hobbies: {{unicorn.hobbies}}</div>
<div>capacities: {{unicorn.capacities}}</div>

<button mat-raised-button color="warn" (click)="deleteUnicorn()">Supprimer</button>
<button mat-fab color="primary" (click)="openEditDialog()"><mat-icon>edit</mat-icon></button>
<button mat-fab color="secondary" (click)="addOrRemoveFromCart()" [ngClass]="{'isSelected': isInCart, 'isUnselected': !isInCart}"><mat-icon>favorite</mat-icon></button>
